body{
    font-family: Verdana;
    font-size: 2em;
    body{
        font-family: Verdana;
        font-size: 2em;
        background-color: #f2f2f2;
    }

    .button{
        background-color: #c4aeec;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        margin: 4px 2px;
        cursor: pointer;
    }

    .button:hover{
        background-color: #162994;
    }
}
.button{
    background-color: #c4aeec;
    border: none;
    color: white;
    padding: 20px 42px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: #162994;
}